body {
    background-color: #1F213C !important;
    overflow-x: hidden;
    /* Evita scroll horizontal */
}

.header-container {
    justify-content: center;
}
.hamburger {
    cursor: pointer;
    padding: 15px;
    background-color: #393c6b;
    border: none;
    border-radius: 5px;
    display: inline-block;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Estilos para a sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #343a40;
    color: white;
    transition: left 0.3s ease;
    z-index: 9999;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    padding: 20px;
    list-style-type: none;
}

.sidebar ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #495057;
}

/* Estilos para o botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}