<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/css/reset.css">
    <link rel="stylesheet" href="Assets/css/style.css">
    <link rel="stylesheet" href="Assets/css/scroll.css">
    <script src="Assets/js/main.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="Assets/imgs/logo.png" type="image/x-icon">
    <title>Imobiliária </title>
</head>

<body>
    <header>
        <div class="header-container">
            <a href="/adm-home"><img class="logo" src="Assets/imgs/logo.png" alt="logo"></a>
            <ul class="navigation">
                <li>
                    <a href="">
                        <img class="icone" src="Assets/imgs/casa.png" alt="página inicial">
                        <p>Inicial</p>
                    </a>

                </li>
                <li class="qm-somos">
                    <a href="qmSomos.html">
                        <img class="icone" src="Assets/imgs/qm-somos-nos.png" alt="página quem somos nós">
                        <p>Quem Somos</p>
                    </a>
                </li>
                <li class="localizacao">
                    <a href="https://maps.app.goo.gl/hyJ77h63ic9aX6yz7" target=”_blank”>
                        <img class="icone" src="Assets/imgs/localizacao.png" alt="página localização">
                        <p>localização</p>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="background-principal">
        <img class="img-bg" src="Assets/imgs/casa149.jpg" alt="">
        <img class="img-bg" src="Assets/imgs/casa165.jpg" alt="">
        <img class="img-bg" src="Assets/imgs/ponto-comercial.jpg" alt="">
    </div>
    <div class="zap-div">
        <a href="https://wa.me/553891889826?text=Ol%C3%A1%20Diego%2C%20tudo%20bem%3F%20estou%20a%20procura%20de%20um%20im%C3%B3vel!" target="_blank">
            <img src="Assets/imgs/logo-zap.png" alt="Whatsapp">
        </a>
    </div>
    <section class="principal">
        <div class="cima">
            <div class="gradiente-laranja">
                <h2>Crepaldi</h2>
            </div>
            <h1>Imóveis</h1>
        </div>
        <div class="baixo">
            <p>Desbloqueando possibilidades, um lar de cada vez!</p>
        </div>
        <p class="seta-baixo">V</p>
    </section>

    <div class="secundaria">
        <img class="img-esquerda" src="Assets/imgs/crepaldi-imoveis-loja.jpg" alt="Lojas Crepaldi Imagem">
        <div class="direita">
            <div class="gradiente-laranja">
                <h3>O Lugar Certo!</h3>
            </div>
            <p class="final-texto">Explore nosso portfólio de imóveis e veja como podemos transformar sua busca em uma
                experiência única.
            </p>
            <ul class="lista-beneficios">
                <li>
                    <img src="Assets/imgs/certo.png" alt="">
                    <p>Melhores Opções</p>
                </li>
                <li>
                    <img src="Assets/imgs/certo.png" alt="">
                    <p>Com o melhor atendimento</p>
                </li>
            </ul>
            <div class="botao-div">
                <a href="/imoveis" class="botao">Explore Imóveis<strong>já</strong>!</a>
            </div>

        </div>
    </div>
</body>

</html>