<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Assets/css/reset.css">
        <link rel="stylesheet" href="Assets/css/style.css">
        <link rel="stylesheet" href="Assets/css/qmSomos.css">
        <link rel="stylesheet" href="Assets/css/scroll.css">
        <script src="Assets/js/main.js" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="Assets/imgs/logo.png" type="image/x-icon">
        <title>Quem Somos? </title>
    </head>
<body>
    <header>
        <div class="header-container">
            <img class="logo" src="Assets/imgs/logo.png" alt="logo">
            <ul class="navigation">
                <li>
                    <a href="index.html">
                        <img class="icone" src="Assets/imgs/casa.png" alt="página inicial">
                        <p>Inicial</p>
                    </a>

                </li>
                <li class="qm-somos">
                    <a href="qmSomos.html">
                        <img class="icone" src="Assets/imgs/qm-somos-nos.png" alt="página quem somos nós">
                        <p>Quem Somos</p>
                    </a>
                </li>
                <li class="localizacao">
                    <a href="">
                        <img class="icone" src="Assets/imgs/localizacao.png" alt="página localização">
                        <p>localização</p>
                    </a>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>